@import '../../scss/colors.scss';
.loginDiv{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loginForm{
        margin-top: 20px;
        min-width: 450px;
        display: flex;
        flex-direction: column;
       label{
          margin: 10px 0; 
       }

       
    }
    .loginInput{
        padding: 10px;
        background-color: $Floral-white;
        border:none;
    }

    .loginTitle{
        font-size: 50px;
    }
    .loginButton{
       margin-top: 20px; 
       cursor: pointer;
       background-color: $Blue-green;
       border:none;
       color: $Floral-white;
       border-radius: 5px;
       padding: 10px;
    }
    .registerButton{
        position: absolute;
        top: 60px;
        right: 20px;
        border:none;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px; 
        
        cursor: pointer;
    }
   
}