@import "../../scss/colors.scss";
@import '../../scss/mediaQueries.scss';

.blogs {
  display: flex;
  margin: 0 15px 15px 50px;

  .card-columns{
    column-count: 4;  
  }

  .card{
    height: 255px;
  }

}

@include mobile {
.blogs{
  margin: 10px;

  .card{
    height: 200px;
  }
}

}

