@import '../../styles/colors.scss';

.card-columns{
  img {
    opacity: 0.7;
  }
  .card{
    color: $Dark-purple;
    overflow: hidden;
  }
  .card-title{
    color: $Dark-purple;
  
  }
  .text-muted{
    color: $Dark-purple;
  }
  
  .bottom{
    position: absolute;
    bottom: 0;
  }
}
