@import '../../styles/colors.scss';

.card-columns{
  img {
    opacity: 0.6;
  }
  .card{
    color: $Dark-purple;
    overflow: hidden;
  }
  .card-title{
    color: $Dark-purple;
    text-transform: uppercase;
  
  }
  .card-text{
    color: $Dark-purple;
    font-size: 20px;
    margin-bottom: 0;
  }
  .text-muted{
    color: $Dark-purple;
  }
  
  .bottom{
    position: absolute;
    bottom: 0;
  }
}
