@import '../../scss/colors.scss';
.settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px 15px 50px;

    &-form{
       
        display: flex;
        flex-direction: column;
        &-input{
          margin: 10px;
          padding: 10px;
          background-color: $Floral-white;
          border:none;
      }

      &-button{
          margin-left: 0;
          margin-top: 20px; 
          cursor: pointer;
          background-color: $Blue-green;
          border:none;
          color: $Floral-white;
          border-radius: 5px;
          padding: 10px;
       }
       &-button:disabled{
           cursor:not-allowed;
       }
    }
  }
  
  
  
 