@import "../../scss/colors.scss";
@import "../../scss/mediaQueries.scss";
.Bar{
    background-color: $Yellow-crayola;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2, 0.2);
}

.titleBar{ 
    text-transform: uppercase;
    padding: 0 100px 0 100px;
    color: $Floral-white;
}
@include mobile {
    .Bar{
        padding: 50px;
    }
    .titleBar{ 
        text-align: center;
        font-size: 20px;
        padding: 5px;
        width: 100%;
    }
   
}
