@import "../../scss/colors.scss";
@import '../../scss/mediaQueries.scss';

.rowHome{
    margin:  20px;
    .mapDiv{
        display: inline-block;
        width: 75%;
    }
    .updatesDiv{
        display: inline-block;
        width: 25%;
        

    }

   
    .card-columns{
        column-count: 1;
        max-width: 600px;
    }
    .card{
        height: 235px;
    }
}
.counterBar{
    margin-top: 10px;
}

@include mobile {
 
    .rowHome{
        margin:  5px;
        .mapDiv{
            // margin: 5px;
            width: 98%;
        }

        .updatesDiv{
            width: 100%;
            
        }
    }

    
}
