@import "../../scss/colors.scss";
@import '../../scss/mediaQueries.scss';

.rowHome{

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .counterBar{
        margin-top: 10px;
    }
    .card-columns{
        column-count: 1;
        max-width: 600px;
    }
    .card{
        height: 235px;
    }
}

@include mobile {
 
    .mapDiv{
        width: 100%;
    }
    .card-columns{
        
        max-width: 100%;
    }
    .card{
        height: 100%;
    }

    
}
