@import "../../styles/colors.scss";


.postContainer{
    display: flex;
    margin: 50px 15px 15px 50px;
    text-align: left;

    h1{
        margin-left: 0;
        color: $Dark-purple;
    }
    .postDiv{
        margin-left: 40px;
        max-width: 1400px;
      
    }
    
}


.updateList{
    max-width: 500px;
    height: 100%;

    .card-columns{
        column-count: 1;
        max-width: 600px;
    }
    .card{
        height: 235px;
    }
}


