@import "../../scss/colors.scss";


.postContainer{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 50px 15px 15px 50px;
    text-align: left;

    h1{
        margin-left: 0;
        text-transform: uppercase;
        color: $Blue-green;
    }
    .postDiv{
        
        margin-left: 160px;
        max-width: 1050px;

        &-postDescription{
            max-width: 900px;
            text-align: justify;
            text-justify: auto;
        }

        &-postDescriotion::first-letter{
            margin-left: 20px;
            font-size: 30px;
            font-weight: 500;
            
        }

        &-postImage{

            margin: 10px;
            max-width: 500px;
            max-height: 500px;
        }

        &-commentForm{
            width: 550px;
        }
        
      
    }

    iframe{
        overflow: hidden;
        padding-bottom: 0;
        border: none;
       
        
    }
    
}



.updateList{
    max-width: 500px;
    height: 100%;

    .card-columns{
        column-count: 1;
        max-width: 600px;
    }
    .card{
        height: 235px;
    }
}


