@import "../../scss/colors.scss";
@import '../../scss/mediaQueries.scss';

.galleryContainer{
    margin: 0 15px 15px 50px;
    display: "block";

   
}

@include mobile {
    .galleryContainer{
        margin: 5px;
    }
    
    
    
}