
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "./scss/colors.scss";
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: #221C35;
}
path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

@import "~bootstrap/scss/bootstrap";