@import "../../scss/colors.scss";
@import "../../scss/mediaQueries.scss";

.navBar{

  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background: white;
  height: 70px;

  &-logo {
    justify-self: start;
    color: $Yellow-crayola;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
  }
  &-icon{
    display: none;
  }

  &-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
    // display: flex;
    cursor: pointer;
    list-style: none;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
   

    &-links{
      color: $Dark-purple;
      padding: 0.5rem 1rem;
    
    }
  }
  
}

a{
  text-decoration: none;
  color: $Dark-purple;
  &:hover {
    color: $Dark-Orange;
    transition: all 0.3s ease;
    text-decoration: none;
  }
}




@include mobile{
  
  .navBar{
    position: relative;
    height: 60px;
    

    &-logo {
      // padding-right: 150px;
      font-size: 25px;
    }
    &-icon{
      display:block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 25%);
      color: $Dark-purple;
      cursor: pointer;
      font-size: 1.8rem;
    }


    &-menu{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 350px;
      position: absolute;
      top: 45px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      
    
    }

    &-menu.active{
      background-color: white;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-top: 10px;
      font-size: 1.6rem;
      font-weight: 500;
      justify-content: left;
      
      &-links{
        display: table;
        
        text-align: left;
        padding: 2rem;
        width: 100%;
        

      }
    }
    
  }

 
  
  
 
  
}
